
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'congeTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'congeTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Code' | translate}}" autofocus  id="1" [(ngModel)]="item.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Durre' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{{'Durre' | translate}}" [(ngModel)]="item.durre"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Date debut' | translate}}</label>
                        <p-calendar id="3" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date debut' | translate}}"  [(ngModel)]="item.dateDebut" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Date fin' | translate}}</label>
                        <p-calendar id="4" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date fin' | translate}}"  [(ngModel)]="item.dateFin" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'Type conge' | translate}}</label>
                        <p-dropdown [options]="typeConges" [(ngModel)]="item.typeConge" id="5" [disabled]="true" optionLabel="code" placeholder="{{'Type conge' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'Employee' | translate}}</label>
                        <p-dropdown [options]="employees" [(ngModel)]="item.employee" id="6" [disabled]="true" optionLabel="code" placeholder="{{'Employee' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



